[Unit]
Description=LED Matrix Service
After=network.target
Requires=led_matrix_daemon.socket

[Service]
Type=simple
ExecStart=/usr/bin/led_matrix_daemon --config=/etc/led_matrix/daemon.toml
Restart=on-failure
User=root
Group=root

[Install]
WantedBy=multi-user.target
