[Unit]
Description=LED Matrix Daemon Socket

[Socket]
ListenStream=/run/led-matrix/led-matrix.sock
FileDescriptorName=uds
SocketMode=0666

[Install]
WantedBy=sockets.target
